@use "mixins" as m;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  @include m.flex(flex, center, center);
  font-size: min(10vw, 10vh);
  height: min(100vh, 100vw);
  width: min(100vw, 100vh);
  flex-direction: column;
  gap: min(3vh, 3vw);
  border: 0;
  margin-left: auto;
  margin-right: auto;
}

#title {
  @include m.flex(flex, center, center);
  height: min(7vh, 7vw);
  width: min(90vh, 90vw);
  font-size: 0.5em;
  margin: 0;
  background-color: rgba(156, 241, 251, 0.761);
  border-radius: 4px;
  box-shadow: 5px 10px 18px #888888;
}

#container {
  border: 0px solid;
  height: min(90vw, 90vh);
  width: min(90vw, 90vh);
  @include m.flex(flex, center, center);
}
.board {
  border: 1px solid;
  height: 100%;
  width: 100%;
  @include m.flex(flex, center, center);
  flex-wrap: wrap;
  @include m.background("./images/board.jpg", cover, no-repeat);
  box-shadow: 5px 10px 18px #888888;
  position: relative;
}

.cell {
  height: 10%;
  width: 10%;
  @include m.flex(flex, center, center);
  @include m.background("./images/white.jpg");
}

.black {
  @include m.background("./images/black.jpg");
}

.side,
.toprow,
.botrow {
  height: 10%;
  width: 10%;
  @include m.flex(flex, center, center);
  font-size: 0.3em;
}

span {
  font-size: 0.9em;
}

@keyframes bpawn1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 82.5%);
  }
}

@keyframes pawn4 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0%, -175%);
  }
}

@keyframes bknight2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-160%, 170%);
  }
}

span#bpawn1 {
  position: relative;
  animation: bpawn1 1s linear forwards;
}

span#bknight2 {
  position: relative;
  animation: bknight2 1s linear 2.2s forwards;
}

span#pawn4 {
  position: relative;
  animation: pawn4 1s linear 1.2s forwards;
}
