@use "variables" as v;
@use "mixins" as m;

body {
  margin: 2px;
  @include m.flex(flex, center, center);
  font-size: min(10vw, 10vh);
  height: 90vh;
  width: 90vw;
  flex-direction: column;
  gap: 5vh;
}

#title {
  @include m.flex(flex, center, center);
  height: 8vh;
  width: min(90vh, 90vw);
  font-size: 0.5em;
  margin: 0;
  background-color: rgba(156, 241, 251, 0.761);
  border-radius: 4px;
  border: 2px solid;
  box-shadow: 5px 10px 18px #888888;
}

#container {
  border: 1px solid;
  height: min(90vw, 90vh);
  width: min(90vw, 90vh);
  @include m.flex(flex, center, center);
}
.board {
  border: 1px solid;
  height: calc(v.$size * 10);
  width: calc(v.$size * 10);
  @include m.flex(flex, center, center);
  flex-wrap: wrap;
  @include m.background("./images/board.jpg", cover, no-repeat);
  box-shadow: 5px 10px 18px #888888;
}

.cell {
  height: v.$size;
  width: v.$size;
  @include m.flex(flex, center, center);
  @include m.background("./images/white.jpg");
}

.black {
  @include m.background("./images/black.jpg");
}

.side,
.toprow,
.botrow {
  height: v.$size;
  width: v.$size;
  @include m.flex(flex, center, center);
  font-size: 0.3em;
}

span {
  font-size: 0.9em;
}
